body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  font-weight: 600;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
